body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 10px;
  border: 1px solid blueviolet;
}

.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page h3 {
  margin-bottom: 60px;
}

.login-form {
  /* border: 1px solid black; */
  width: 300px;
}
